html, body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #333;
}

h1 {
	font-size: 28px;
	margin: 40px 0;
/*	text-transform: uppercase;*/
}

.fa {
	font-size: 40px;
	margin: 0 35px;
	color: #333;
}

.fa-twitter {
	color: #20AEEE;
}

.fa-envelope-o {
	color: #dd4b39;
}

#particles {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

.header {
	position: relative;
	z-index: 1;
	top: 50%;
	margin-top: -252.5px;
}

.header .fa-angle-double-down {
	margin-top: 50px;
	margin-bottom: 20px;
}

.header .icons {
	margin: 70px 0;
}

.container {
	position: relative;
	width: 550px;
	margin: 0px auto;
	padding: 100px;
	z-index: 1;
	color: #333;
}

.container a {
	color: #63d093;
	text-decoration: none;
}

.container ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: left;
	font-size: 24px;
}

img {
	border-radius: 100px;
}


.tk-proxima-nova{font-family:"proxima-nova-1","proxima-nova-2",sans-serif;}.tk-anchor-web{font-family:"anchor-web-1","anchor-web-2",sans-serif;}

.timeline-wrapper {
	position: relative;
	background: rgba(0, 0, 0, 0) url(https://d585tldpucybw.cloudfront.net/sfimages/default-source/labs/video-overlay.png);
}

.timeline {
	width: 563px;
	padding: 0;
}

.timeline .time.first > div {
	margin-top: 200px;
}

.timeline .time.first .line {
	padding-top: 200px;
	margin-top: 0;
}

.timeline .time.first .line::before {
	top: 300px;
}

.timeline .last > div {
	margin-bottom: 200px;
}

.timeline .last .line {
	padding-bottom: 200px;
	margin-bottom: 0;
}

.timeline .time {
	height: 300px;
}

.timeline .time.first,
.timeline .time.last {
	height: 500px;
}

.timeline .time > div {
	float: left;
	margin-top: 100px;
}

.timeline .time .line {
	margin-top: 0;
}

.timeline .reverse .year {
	margin-left: 71px;
}

.timeline .bubble {
	width: 200px;
	height: 200px;
	color: white;
	background: #63d093;
	border-radius: 50%;
}

.timeline .line {
	position: relative;
	width: 2px;
	height: 300px;
	margin: 0 80px;
	background: #aaa;
}

.timeline .line::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	top: 190px;
	left: -5px;
	background: #666;
}

.timeline .year {
	font-size: 30px;
	line-height: 200px;
}

.clear-fix {
	clear: both;
}

.timeline .telerik .bubble {
	background: #20AEEE;
}