body {
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  color: hsla(0, 0%, 70%, 1);
  background: rgb(40, 40, 40);
  display: flex;
}

h1, h2, h3, h4, h5, h6, strong {
  color: hsla(0, 0%, 80%, 1);
}

a, a:visited, a:active {
  color: hsl(210, 18%, 60%);
  text-decoration: none;
}

.icon--github {
  fill: hsla(0, 0%, 70%, 1);
}

.icon--twitter {
  fill: #20AEEE;
  margin: 0 10px;
}

.icon--email {
  fill: #dd4b39;
}

@media (max-width: 340px) {
  .icon--twitter {
    margin: 0 72px;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 2;
  border-radius: 5px;
}

.left {
  flex: 220px 0 0;
}

.left__icons {
  margin: 10px 0 40px;
}

.left__name {
  margin-top: 10px;
}

.main {
  margin: 80px auto;
  position: relative;
  display: flex;
  flex-direction: row;
}

.main .list__item .date {
  display: inline-block;
  width: 70px;
  text-align: right;
  margin-right: 20px;
  color: hsla(0, 0%, 100%, .3);
  text-transform: uppercase;
  font-size: 12px;
}

.post__heading {
  margin-top: 0;
  margin-bottom: 10px;
}

.post__date {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, .3);
  margin-bottom: 30px;
}

.post__content {
  letter-spacing: normal;
  font-size: 17px;
  line-height: 1.6em;
}

.post__content :first-child {
  margin-top: 0;
}

.post__content img {
  width: 100%;
}

/* .timeline */

.title {
  margin: 0;
}

.sub-title {
  font-weight: normal;
  margin: 0;
}

.line {
  background: hsla(0, 0%, 80%, 1);
}

.circle {
  background: hsl(210, 18%, 60%);
}

.circle-line {
  background: hsla(0, 0%, 80%, 1);
}

/* text */

h1 {
  font-size: 2em;
}

h2 {
  margin: 2em 0 1em;
}

/* media */


@media (min-width: 1100px) {
  .main {
    width: calc(650px + 220px);
    padding-right: 220px;
  }
}

@media (max-width: 1100px) {
  .main {
    width: calc(650px + 220px);
  }
}

@media (max-width: 900px) {
  .main {
    width: 650px;
    padding: 0 80px;
  }

  .left {
    display: none;
  }
}
